{% load django_htmx %}
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-video-player/2.0.5/cld-video-player.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-video-player/2.0.5/cld-video-player.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>
{% django_htmx_script %}

<script defer>
    // این تابع برای رندر کردن ویدیوهای Cloudinary است
    function renderVideoElement(videoPlayerElement) {
        const currentVideoId = videoPlayerElement.getAttribute('id')
        const videoPlayerId = `${currentVideoId}` + '-cfe-' + Math.random().toString(36).substr(2, 9);
        videoPlayerElement.setAttribute("id", videoPlayerId);
        const cloudName = videoPlayerElement.dataset.cloudName;
        const videoUrl = videoPlayerElement.dataset.videoUrl;

        if (cloudName && videoUrl) {
            const cld = cloudinary.videoPlayer(videoPlayerId, {
                cloudName: cloudName
            });

            cld.source(videoUrl);

            // اضافه کردن دکمه تغییر کیفیت به پلیر
            cld.addButton('quality', {
                title: 'Change Quality',
                options: ['auto', '360p', '480p', '720p', '1080p'], // اینجا می‌تونید کیفیت‌های مختلف رو اضافه کنید
                default: 'auto', // کیفیت پیش‌فرض
                onChange: function(selectedQuality) {
                    // تغییر ویدیو با کیفیت جدید
                    let newVideoUrl = videoUrl.replace('auto', selectedQuality);  // فرض می‌کنیم URL شما به این شکل است
                    cld.source(newVideoUrl);
                }
            });
        }
    }

    function renderAllVideos() {
        const videoPlayerClassName = 'cfe-video';
        const videoPlayerElements = document.getElementsByClassName(videoPlayerClassName);
        console.log(videoPlayerElements);
        for (let el of videoPlayerElements) {
            console.log(el);
            renderVideoElement(el);
        }
    }

    // فراخوانی تابع بعد از بارگذاری کامل صفحه
    document.addEventListener('DOMContentLoaded', renderAllVideos);
</script>
